<meta charset="utf-8">


{% include seo.html %}

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


<!-- <link rel="stylesheet" href="assets/css/pyramid.css"> -->
<!-- <script type="text/javascript" src="assets/js/bibtex_js.js"></script> -->

<!-- <bibtex src="./pub_journal.bib"></bibtex>
<bibtex src="./pub_conference.bib"></bibtex>
<bibtex src="./pub_other.bib"></bibtex>
 -->

<!-- For all browsers -->
<link rel="stylesheet" href="assets/css/main.css">
<link rel="stylesheet" href="assets/css/css_shen.css">


<meta http-equiv="cleartype" content="on">
<head>
  <meta name="msvalidate.01" content="2E7D3C535D227A53094AB578D5EA2D36" />
  <base target="_blank">
</head>


<!-- Google tag (gtag.js) -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-6JWW49BVWG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-6JWW49BVWG');
</script> -->