<bibtex src="./pub_journal.bib"></bibtex>
<bibtex src="./pub_conference.bib"></bibtex>
<bibtex src="./pub_other.bib"></bibtex>

<script src="assets/js/main.min.js"></script>
<script type="text/javascript" src="assets/js/bibtex_js.js"></script>

<script>
	// change a href to ajax
	// shen
	document.addEventListener('DOMContentLoaded', function() {
	  var changeContentLinks = document.querySelectorAll('.change-content');
	  var pageInnerWrap = document.querySelector('.page-content');

	  changeContentLinks.forEach(function(link) {
	    link.addEventListener('click', function(event) {
	      event.preventDefault(); // Prevent the default link behavior

	      var contentUrl = link.getAttribute('href');

	      // Fetch the content from the URL
	      fetch(contentUrl)
	        .then(function(response) {
	          return response.text();
	        })
	        .then(function(content) {
	          // Create a new div to hold the fetched content
	          var newContentDiv = document.createElement('span');
	          newContentDiv.innerHTML = content;

	          // Replace only the .page__inner-wrap content
	          var newPageInnerWrap = newContentDiv.querySelector('.page-content');
	          if (newPageInnerWrap) {
	            pageInnerWrap.innerHTML = newPageInnerWrap.innerHTML;

	            // defaultTemplate = newPageInnerWrap.querySelector('.bibtex_template')
	            // console.log(defaultTemplate)
	            // createWebPage(defaultTemplate);
	            bibtex_js_draw();

	          } else {
	            console.error('Error: .page__inner-wrap not found in fetched content.');
	          }
	        })
	        .catch(function(error) {
	          console.error('Error fetching content:', error);
	        });


	    });
	  });
	});


	// $(document).ready(function() {
	//   $('.news-area li').each(function() {
	//     var dateText = $(this).find('em').text();
	//     var contentText = $(this).text().replace(dateText, '').trim();

	//     var dateDiv = $('<div>').addClass('date-div').text(dateText);
	//     var contentDiv = $('<div>').addClass('content-div').text(contentText);

	//     var container = $('<div>').addClass('container')
	//       .append(dateDiv)
	//       .append(contentDiv);

	//     $(this).html(container);
	//   });
	// });

	$(document).ready(function() {
	  $('.news-area li').each(function() {
	    var dateText = $(this).find('em').text();
	    var parts = dateText.split('.');
	    var year = parts[0];
	    var month = parts[1];
	    var day = parts[2];

	    var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
	    var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

	    var monthIndex = parseInt(month) - 1;
	    var monthAbbr = monthNames[monthIndex];

	    var dateRibbon = $('<div>').addClass('date-container')
	    	.append($('<div>').addClass('dt-day').text(day))
	      .append($('<span>').addClass('dt-month').text(monthAbbr))
	      .append($('<span>').addClass('dt-year').text(year));

	    var contentText = $(this).text().replace(dateText, '').trim();
	    var contentDiv = $('<div>').addClass('content-div').text(contentText);

	    var container = $('<div>').addClass('container')
	      .append(dateRibbon)
	      .append(contentDiv);

	    $(this).html(container);
	  });
	});
	// $(document).ready(function() {
	//   $('em').each(function() {
	//     var dateString = $(this).text();
	//     var parts = dateString.split('.');
	//     var year = parts[0];
	//     var month = parts[1];

	//     var monthNames = [
	//       'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
	//       'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'
	//     ];

	//     var monthIndex = parseInt(month) - 1;
	//     var monthAbbr = monthNames[monthIndex];

	//     var html = '<span class="date-container"><span class="date-as-calendar position-pixels">' +
	//                '  <span class="month">' + monthAbbr + '</span>' +
	//                '  <span class="year">' + year + '</span>' +
	//                '</span></span>';
	//     $(this).replaceWith(html);
	//   });
	// });





</script>

{% include analytics.html %}
{% include fetch_google_scholar_stats.html %}
