  /*main css modified by me*/
  /*colors*/
  :root {
    --ccfa:#274c77;
    --ccfb: #6096ba;
    --ccfc: #63b0e3;
    --jcrq1: #c04b10;
    --jcrq2: #e18437;
    --best: #001219;
    --url: #1679AB;
    --urlin: #ffb703;
  }
  .noHover{
    pointer-events: none;
  }
  /*url*/
  a {
    color: var(--url);
  }
  a:link { text-decoration: none; }

  h2 {
/*    color: #50514f;*/
    text-indent: 0.5em;
  }
  h3 {
    text-indent: 1em; 
  }
  /*em me*/
  [class*="Jiaxing Shen"]{
  font-weight: bold;
  /*text-decoration: underline;*/
  }

  [class="ccfa"] {
    font-weight: bold;
    color: blue;
    /*margin-right: -4%;*/
    float:right;
    /*display: inline-block;*/
    outline: none;
    font-weight: 600;
    border-radius: 3px;
    padding: 3.5px 8px;
    border: 0;
    color: #fff;
    background: var(--ccfa);
    line-height: 1.1;
    font-size: 12px;
  }
  [class="ccfb"] {
    font-weight: bold;
    color: blue;
    /*margin-right: -4%;*/
    float:right;
    /*display: inline-block;*/
    outline: none;
    font-weight: 600;
    border-radius: 3px;
    padding: 3.5px 8px;
    border: 0;
    color: #fff;
    background: var(--ccfb);
    line-height: 1.1;
    font-size: 12px;
  }
/*  [class="ccfc"] {
    font-weight: bold;
    color: blue;
    float:right;
    outline: none;
    font-weight: 600;
    border-radius: 3px;
    padding: 3px 8px;
    border: 0;
    color: #fff;
    background: var(--ccfc);
    line-height: 1.1;
    font-size: 12px;
  }*/

  [class="jcrq1"] {
    font-weight: bold;
    color: blue;
    /*margin-right: -4%;*/
    float:right;
    /*display: inline-block;*/
    outline: none;
    font-weight: 600;
    border-radius: 3px;
    padding: 3.5px 5px;
    border: 0;
    color: #fff;
    background: var(--jcrq1);
    line-height: 1.1;
    font-size: 12px;
  }

/*  [class="jcrq2"] {
    font-weight: bold;
    color: blue;
    float:right;
    outline: none;
    font-weight: 600;
    border-radius: 3px;
    padding: 3px 5px;
    border: 0;
    color: #fff;
    background: var(--jcrq2);
    line-height: 1.1;
    font-size: 12px;
  }*/

  [class="best_paper"] {
    font-weight: bold;
    color: blue;
    /*margin-right: -4%;*/
    /*clear:right;*/
    float:right;
    /*display: inline-block;*/
    outline: none;
    font-weight: 600;
    border-radius: 3px;
    padding: 3.5px 6px;
    border: 0;
    color: #fff;
    background: var(--best);
    line-height: 1.1;
    font-size: 12px;
  }

  [class="best_paper_inline"] {
    font-weight: bold;
    color: blue;
    white-space:nowrap;
    outline: none;
    font-weight: 600;
    border-radius: 3px;
    padding: 3px 6px;
    border: 0;
    color: #fff;
    background: var(--best);
    line-height: 1.1;
    font-size: 12px;
  }
  
  [class="ccfa_inline"] {
    font-weight: bold;
    color: blue;
    white-space:nowrap;
    outline: none;
    font-weight: 600;
    border-radius: 3px;
    padding: 3px 8px;
    border: 0;
    color: #fff;
    background: var(--ccfa);
    line-height: 1.1;
    font-size: 12px;
  }

  [class="jcrq1_inline"] {
    font-weight: bold;
    color: blue;
    white-space:nowrap;
    outline: none;
    font-weight: 600;
    border-radius: 3px;
    padding: 3px 5px;
    border: 0;
    color: #fff;
    background: var(--jcrq1);
    line-height: 1.1;
    font-size: 12px;
  }

    [class="ccfb_inline"] {
    font-weight: bold;
    color: blue;
    white-space:nowrap;
    outline: none;
    font-weight: 600;
    border-radius: 3px;
    padding: 3px 8px;
    border: 0;
    color: #fff;
    background: var(--ccfb);
    line-height: 1.1;
    font-size: 12px;
  }